{% extends 'base.html' %}

{% block head %}
<title>PMO</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="header">
        <h1 style="text-align: center">Loaded Activities</h1>
    </div>
    {% if activities|length < 1 %}
    <h4 style="text-align: center">There are no activites. Add one <a href="/activityinput/">here</a></h4>
    {% else %}

    <table class="center">
        <tr>
            <th>Date</th>
            <th>Duration</th>
            <th>Load</th>
        </tr>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.activity_datetime.date() }}</td>
                <td>{{ activity.activity_duration }}</td>
                <td>{{ activity.activity_load }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}