{% extends 'base.html' %}

{% block head %}
<title>PMO</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Performance Management & Overview</h1>

    {% if activities|length < 1 %}
    <h4 style="text-align: center">There are no activites. Add one <a href="/activityinput/">here</a></h4>
    {% else %}

    <table>
        <tr>
            <th>Date</th>
            <th>Duration</th>
            <th>Load</th>
        </tr>
        {% for activitie in activities %}
            <tr>
                <td>{{ activity.activity_date.date() }}</td>
                <td>{{ activity.activity_duration }}</td>
                <td>{{ activity.activity_load }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}