{% extends 'base.html' %}

{% block head %}
<title>PMO</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="header">
        <h1>Input New Activity</h1>
    </div>
    <div class="form">
        <form action="/activityinput/activity" method="POST">
            <label for="activity_date">Activity Date</label>
            <input type="date" name="activity_date" id="activity_date"><br>
            <label for="activity_duration">Activity Duration (min)</label>
            <input type="number" name="activity_duration" id="activity_duration"><br>
            <label for="activity_load">Activity Load Metric</label>
            <input type="number" name="activity_load" id="activity_load"><br>
            <input type="submit" value="Upload">
        </form>
    </div>
    <div class="header">
        <h1>Input Activity File</h1>
    </div>
        Assumed headers are: activity_datetime,activity_duration,activity_load
        <form method="POST" action="/activityinput/activitycsv" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <input type="submit" value="Submit">
        </form>
  </body>
</html>
</div>
{% endblock %}